body {
  width: 100%;
  height: 100%;
  margin:0;
 }
 
 h1 {
  text-align:center;
}
img{
  margin:auto;
  display:block;
}

nav a{
  color:blue;
  width:400px;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  float:center;
  
  //display:block;
  }
  #featured-property p{
    width:800px;
    text-align:center;
  }